Pillow
# luxonis-ml[data,nn_archive,s3,gcs,telemetry]~=0.9.0
luxonis-ml[data,nn_archive,s3,gcs,telemetry] @ git+https://github.com/luxonis/luxonis-ml.git@feat/telemetry
cyclopts~=4.16
onnx==1.21.0
onnxruntime
onnxsim~=0.6
onnxslim~=0.1
onnxsim
docker
keyring
onnx_graphsurgeon
wget
aiobotocore<2.18
psutil
