name: Publish - HAILO

on:
  workflow_dispatch:

  release:
    types: [published]
    branches:
      - main

jobs:
  hailo-publish:

    strategy:
      fail-fast: false
      matrix:
        version: ["2024.10", "2025.01", "2025.04"]

    uses: ./.github/workflows/publish.yaml
    secrets: inherit
    with:
      package: hailo
      version: ${{ matrix.version }}
      default: "2025.04"
      os: ubuntu-22.04-4core
