name: Publish - RVC2

on:
  workflow_dispatch:

  release:
    types: [published]
    branches:
      - main

jobs:
  rvc2-publish:

    strategy:
      fail-fast: false
      matrix:
        version: ["2021.4.0", "2022.3.0"]

    uses: ./.github/workflows/publish.yaml
    secrets: inherit
    with:
      package: rvc2
      version: ${{ matrix.version }}
      default: "2022.3.0"
